.upload-container {
  padding: 20px;
  margin-top: 10px;
}

.add-title {
  color: #555555;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 15px;
}

.add-subtitle {
  color: #555555;
  margin-bottom: 15px;
  font-size: 16px;
}

.add-button-container {
  display: block;
}

.add-button {
  margin-bottom: 15px;
  width: 100%;
  font-weight: bold;
  background-color: #5d5fef;
  border-color: #5d5fef;
  color: white;
}

.add-button:hover {
  font-weight: bold;
  background-color: white;
  border-color: #5d5fef;
  color: #555555;
}

/* LINK UPLOAD */

.link-upload-form {
  display: flex;
  align-items: center;
}

.add-image {
  aspect-ratio: 1 / 1;
  width: 25vh;
  height: auto;
  margin: auto;
  display: block;
}
