.bottom-container {
  background-color: white;
  border-top: 1px solid #5d5fef;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999999;
}

.favorites-btn-container,
.home-btn-container,
.closet-btn-container {
  cursor: pointer;
  width: 100%;
  display: block;
  text-align: center;
}

.info-container {
  transform: translateY(20%);
}

.home-btn-container,
.closet-btn-container {
  border-left: 1px solid #f1ecff;
}

.favorites-btn-container p,
.home-btn-container p,
.closet-btn-container p {
  font-size: 10px;
  font-weight: bold;
}

.favorites-btn-container:hover,
.home-btn-container:hover,
.closet-btn-container:hover {
  background-color: #f1ecff;
}

.active-container {
  background-color: #f1ecff;
}
