.carousel-container {
  margin: auto;
  padding-bottom: 5px;
}

.carousel-inner {
  align-items: center;
  align-content: center;
  align-self: center;
}

.carousel-control-next-icon {
  color: #555555;
}

.carousel-control-prev-icon {
  color: #555555;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(50%);
  color: #555555;
  padding: 8px;
  margin-left: 50px;
  margin-right: 50px;
}

.carousel-not-found-container {
  text-align: center;
  padding: 20px;
}

.carousel-not-found-title {
  color: #555555;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 13px;
}

.carousel-not-found-link {
  color: #555555;
  text-decoration: underline;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}
