.carousel-container {
  margin: auto;
}

.carousel-inner img {
  aspect-ratio: 1 / 1;
  width: 20vh;
  height: auto;
  margin: auto;
  display: block;
}

.carousel-control-next-icon {
  color: #555555;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
  color: #555555;
}
