.card-container {
  padding: 8px;
  border: 1.5px solid lightgray;
  border-radius: 20px;
}

.card-image {
  aspect-ratio: 1 / 1;
  padding: 5px;
  width: 20vh;
  height: auto;
  margin: auto;
  display: block;
}

.card-image-bottoms {
  aspect-ratio: 1 / 1.5;
  padding: 5px;
  width: 20vh;
  height: auto;
  margin: auto;
  display: block;
}

.card-text-container {
  border-top: 1px solid lightgray;
  margin: 0;
}

.card-weather {
  color: #555555;
  font-size: 11px;
  font-weight: bold;
}
