.favorites-card-container {
  cursor: pointer;
  justify-content: center;
  text-align: center;
  border: 2px solid lightgray;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}

.favorites-card-clothes {
  display: flex;
}

.favorites-top-shoes-container,
.favorites-bottom-container,
.favorites-top-container,
.favorites-shoes-container {
  margin: 0;
  padding: 0;
}

/* .favorites-top-shoes-container {
  background-color: aqua;
}

.favorites-bottom-container {
  background-color: red;
} */

.favorites-card-image {
  padding: 3px;
  aspect-ratio: 1 / 1;
  width: 11vh;
  height: auto;
  margin: auto;
  display: block;
}

.favorites-card-image-bottom {
  padding: 3px;
  aspect-ratio: 1 / 1.7;
  width: 9vh;
  height: auto;
  margin: auto;
  display: block;
}

.favorites-card-image-shoes {
  padding: 3px;
  aspect-ratio: 1 / 1;
  width: 5vh;
  height: auto;
  margin: auto;
  display: block;
}

.big-favorites-card-image {
  padding: 5px;
  aspect-ratio: 1 / 1;
  width: 22vh;
  height: auto;
  margin: auto;
  display: block;
}

.big-favorites-card-image-bottom {
  padding: 5px;
  aspect-ratio: 1 / 2;
  width: 18vh;
  height: auto;
  margin: auto;
  display: block;
}

.big-favorites-card-image-shoes {
  padding: 5px;
  aspect-ratio: 1 / 1;
  width: 15vh;
  height: auto;
  margin: auto;
  display: block;
}

.favorites-card-footer {
  margin: 0;
  padding: 3px 0;
  justify-content: center;
  display: flex;
}

.favorites-card-frequency {
  align-items: center;
  text-align: left;
  display: flex;
  font-weight: bold;
  font-size: 13px;
}

.favorites-card-heart {
  align-self: center;
  cursor: pointer;
  text-align: end;
}
