.navbar {
  background-color: #f1ecff;
  max-height: 70px;
}

.navbar-container {
  align-content: center;
}

.navbar-brand {
  color: #5d5fef;
  font-weight: bold;
  font-style: italic;
  font-size: 24px;
  cursor: pointer;
}

.navbar-brand:hover {
  color: #606197;
}

.header-profile {
  align-items: center;
}

.header-img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
