.card-weather-greeting .card-text {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.card-weather-text {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.card-image {
    width: 100px;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    padding: 15px;
}