.card-weather-greeting{
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-top: 1rem;
}

.card-weather-text {
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-top: 0rem;
}

.card-image {
    width: 150px;
    height: 150px;
}

.card-outfit-text {
    margin-top: 1rem;
	margin-bottom: 1.3rem;
    display: flex;
    justify-content: center;
    padding: 15px;
}
/* p {
	margin-top: 1rem;
	margin-bottom: 1.3rem;
    display: flex;
    justify-content: center;
    padding: 15px;
} */