.outfits-checkbox-container {
  margin-top: 5px;
  color: #555555;
  font-size: 14px;
}

.outfits-card-container {
  cursor: pointer;
  justify-content: center;
  text-align: center;
  border: 2px solid lightgray;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}

.outfits-card-clothes {
  display: flex;
}

.outfits-top-shoes-container,
.outfits-bottom-container,
.outfits-top-container,
.outfits-shoes-container {
  margin: 0;
  padding: 0;
}

.outfits-card-image {
  padding: 2px;
  aspect-ratio: 1 / 1;
  width: 10vh;
  height: auto;
  margin: auto;
  display: block;
}

.outfits-card-image-bottom {
  padding: 2px;
  aspect-ratio: 1 / 1.7;
  width: 9vh;
  height: auto;
  margin: auto;
  display: block;
}

.outfits-card-image-shoes {
  padding: 2px;
  aspect-ratio: 1 / 1;
  width: 5vh;
  height: auto;
  margin: auto;
  display: block;
}

.big-outfits-card-image {
  padding: 5px;
  aspect-ratio: 1 / 1;
  width: 22vh;
  height: auto;
  margin: auto;
  display: block;
}

.big-outfits-card-image-bottom {
  padding: 5px;
  aspect-ratio: 1 / 2;
  width: 18vh;
  height: auto;
  margin: auto;
  display: block;
}

.big-outfits-card-image-shoes {
  padding: 5px;
  aspect-ratio: 1 / 1;
  width: 15vh;
  height: auto;
  margin: auto;
  display: block;
}

.outfits-card-footer {
  margin: 0;
  padding: 3px 0;
  justify-content: center;
  display: flex;
}

.outfits-card-frequency {
  align-items: center;
  text-align: left;
  display: flex;
  font-weight: bold;
  font-size: 13px;
}

.outfits-card-heart {
  align-self: center;
  cursor: pointer;
  text-align: end;
}

@media (min-width: 390px) {
  .outfits-card-image {
    padding: 3px;
    aspect-ratio: 1 / 1;
    width: 7vh;
    height: auto;
    margin: auto;
    display: block;
  }

  .outfits-card-image-bottom {
    padding: 3px;
    aspect-ratio: 1 / 1.7;
    width: 6vh;
    height: auto;
    margin: auto;
    display: block;
  }

  .outfits-card-image-shoes {
    padding: 3px;
    aspect-ratio: 1 / 1;
    width: 3vh;
    height: auto;
    margin: auto;
    display: block;
  }
}
